*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Blinker", sans-serif !important;
    background: #525252 !important;
}

button, a, input:focus {
    outline: none;
}

.header {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #313131;
    border-right: 3px solid #ca3e47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__logo {
        width: 90%;
        margin-bottom: 15px;
    }
    &__nav {
        padding: 0;
        margin: 20px 0;
    }
    &__item {
        list-style: none;
        &:first-child {
            margin-bottom: 15px;
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        border: 0;
        background: initial;
        display: block;
        cursor: pointer;
        font-size: 23px;
        transition: .2s;
        &:hover, &:focus {
            color: #ca3e47;
        }
        &:first-child {
            margin-bottom: 15px;
        }
    }
}

.main {
    position: absolute;
    width: 80%;
    top: 0;
    right: 0;
    &__wrapper{
        width: 85%;
        background: #414141;
        min-height: calc(100vh - 90px);
        margin: 45px auto;
        padding: 20px;
        position: relative;  
        overflow: hidden;
    }
    .form {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 14fr 1fr;
        width: 80%;
        height: 40px;
        &__submit{
            padding: 0;
            border: 2px solid #ca3e47;
            background: #ca3e47;
            height: 100%;
            cursor: pointer;
            i {
                font-size: 20px;
                color: #525252;
                padding: 0 7px;
            }
        }
        &__search-bar{
            border: 2px solid #ca3e47;
            background: #525252;
            height: 100%;
            font-size: 19px;
            padding-left: 9px;
            color: #ededed;
            &::placeholder {
                color: #dbdbdb;
            }
        }
    }
    &__user {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        transition: all .5s;
        padding: 20px;
        overflow-y: auto;
    }
    &__search{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all .5s;
        overflow-y: auto;
        padding: 20px;
        padding-bottom: 20px;
    }

}

.head{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &__img-wrapper {
        width: 35%;
    }
    &__img {
        width: 100%;
    }
    &__name {
        text-align: center;
        color: #fff;
        font-size: 2vw;
        margin-top: 5px;
    }
    &__button {
        text-decoration: none;
        background-color: #00eaff;
        color: #fff;
        text-align: center;
        font-size: 1.8vw;
        border: 0;
        transition: .2s;
        padding: 15px 0;
        width: 100%;
        &:hover {
            background-color: #585cc4;
            color: #fff;
        }
        
    }
    &__status {
        ul {
            padding: 0;
        }
        li {
            font-size: 3.5vw;
            color: #fff;
            list-style: none;
        }
        strong {
            color: #ca3e47;
        }
    }
}

.result {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-items: center;
    &__section {
        background: red;
        min-width: 240px;
        width: 100%;
        background: #313131;
        display: flex;
        flex-direction: column;
    }
    &__querytext {
        text-align: center;
        margin: 20px 0;
        font-size: 25px;
        color: #fff;
    }
    &__result-text {
        color: #ca3e47;
    }
    &__img {
        width: 100%;
    }
    &__nickname {
        text-align: center;
        white-space: nowrap;
        overflow: hidden ;
        text-overflow: ellipsis;
        padding: 10px;
        color: #fff;
        font-size: 25px;
        margin: 5px 0;
    }
    &__button {
        cursor: pointer;
        width: 90%;
        padding: 14px 0;
        align-self: center;
        margin: 5px 0 10px 0;
        background: #00eaff;
        border: 0;
        transition: .2s;
        border: 0;
        color: #fff;
        &:hover, &:focus {
            background: #585cc4;
        }
    }
}

.error-alert {
    color: #ca3e47 !important;
    background: #313131 !important;
    border: 2px solid #ca3e47 !important;
}

.close-button {
    color: #ca3e47 !important;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ca3e47'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}

.show {
    left: 0;
}

.hide {
    left: -100%;
}

#back {
    background: initial;
    color: #ca3e47;
    font-size: 2vw;
    border: 0;
    transition: .2s;
    &:hover {
        color: #941010;
    }
}

.repos {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.repo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
        margin: 0;
        font-size: 1.3vw ;
        color: #ca3e47;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 1.3vw;
    }
}

.repo-title {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    font-size: 3vw;
}

.media {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 10px;
    i {
        font-size: 2vw;
        color: #ca3e47;
    }
}
